.searchBox {
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 50px;
  padding: var(--space-2xl) var(--size-gutter);
}

.input {
  max-width: 350px;
  width: 100%;
  padding: var(--space-lg) var(--space-md);
  position: relative;
  border-radius: var(--radius-md);
  border-color: var(--black-fade-5);
  letter-spacing: 0.05em;
  font-size: var(--text-md);
  line-height: var(--solid);
}

.button {
  border-radius: var(--radius-md);
  background-color: var(--primary);
  border-color: var(--black-fade-5);
  letter-spacing: 0.05em;
  color: var(--white);
  font-size: var(--text-md);
  line-height: var(--solid);
  padding: var(--space-lg) var(--space-md);
  margin-left: var(--space-sm);
  cursor: pointer;
}